<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="UCSS Feed" value="https://pkgs.dev.azure.com/Ucss/_packaging/UCSSFeed/nuget/v3/index.json" />
  </packageSources>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>